.header {
    justify-content: center;
  padding: 10px;
  height: 75px;
  .logo {
    height: 50px;
  }
  .navbar-header {
    margin-left: 70px;
    height: 100%;
    li {
      align-self: center;
      padding: 10px;
      a {
        font-family: "Oswald", sans-serif;
        color: black;
        text-decoration: none;
      }
    }
  }
  .login-button {
    margin-left: 45px;
    padding: 0;
    height: 32px;
    width: 125px;
    align-self: center;

    a {
      font-weight: bold;
      font-size: 16px;
      font-family: "Oswald", sans-serif;
      color: black;
      text-decoration: none;
    }
  }
}
